* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #6e5548e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .post-container {
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .post-header {
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .post-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .post-header-info h3 {
    margin: 0;
    font-size: 16px;
  }
  .post-header-info h6 {
    margin: 0;
    font-size: 14px;
    color: #666;
  }

  .post-image {
    background: url(./img/istockphoto-505239248-612x612.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .post-content {
    padding: 15px;
    line-height: 2;
  }
  .post-content span {
    color: #0095f6;
  }
  .post-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-top: 1px solid #eee;
  }
  .icon-group {
    display: flex;
    align-items: center;
  }
  .post-icons i {
    font-size: 24px;
    cursor: pointer;
  }
  .post-icons i:hover {
    color: #ce1b1b;
  }
  .post-icons span {
    margin-left: 8px;
    font-size: 16px;
  }
  